{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <div class="container">
        
        <p class="lead">Hi this is Kuldeep Sharma. Great web developer</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia deserunt libero ipsum eius, modi at quae placeat facere, recusandae ullam quasi minus corrupti vitae? Doloribus totam a tenetur aut laboriosam animi, ipsam iure maxime! Sunt id autem architecto quo ut rerum placeat, non dolore possimus maiores quibusdam, earum nam ipsa.</p>
    </div>
    
</div>

{% endblock content %}